*.class
*.log
.bloop/bloop.settings.json
.bloop/sfguide-snowpark-demo-test.json
.bloop/sfguide-snowpark-demo.json
.bloop/sfguide-snowpark-demo/bloop-bsp-clients-classes/classes-Metals-yN4Ig6rrR4KT8I3GSryLJg==/META-INF/semanticdb/src/main/scala/HelloWorld.scala.semanticdb
.bloop/sfguide-snowpark-demo/bloop-bsp-clients-classes/classes-Metals-yN4Ig6rrR4KT8I3GSryLJg==/META-INF/semanticdb/src/main/scala/UDFDemo.scala.semanticdb
.bloop/sfguide-snowpark-demo/bloop-bsp-clients-classes/classes-Metals-yN4Ig6rrR4KT8I3GSryLJg==/META-INF/semanticdb/src/main/scala/UDFDemoSetup.scala.semanticdb
.bloop/sfguide-snowpark-demo/bloop-internal-classes/classes-Metals-yN4Ig6rrR4KT8I3GSryLJg==-xdoYw1NORuCaBuxq4QT9nA==/META-INF/semanticdb/src/main/scala/HelloWorld.scala.semanticdb
.bloop/sfguide-snowpark-demo/bloop-internal-classes/classes-Metals-yN4Ig6rrR4KT8I3GSryLJg==-xdoYw1NORuCaBuxq4QT9nA==/META-INF/semanticdb/src/main/scala/UDFDemo.scala.semanticdb
.bloop/sfguide-snowpark-demo/bloop-internal-classes/classes-Metals-yN4Ig6rrR4KT8I3GSryLJg==-xdoYw1NORuCaBuxq4QT9nA==/META-INF/semanticdb/src/main/scala/UDFDemoSetup.scala.semanticdb
.bloop/sfguide-snowpark-demo/sfguide-snowpark-demo-analysis.bin
.metals/metals.h2.db
.metals/metals.lock.db
.metals/readonly/dependencies/scala-library-2.12.13-sources.jar/.jar.meta
.metals/readonly/dependencies/scala-library-2.12.13-sources.jar/scala/Unit.scala
.vscode/settings.json
project/.bloop/bloop.settings.json
project/.bloop/sfguide-snowpark-demo-build.json
project/metals.sbt
project/project/metals.sbt
project/project/project/target/config-classes/$ba79c87389388caae6ea.cache
project/project/target/config-classes/$86cb40ca4d2e04fec763.cache
project/project/target/scala-2.12/sbt-1.0/sync/copy-resource
project/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
project/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
project/project/target/streams/_global/_global/_global/streams/out
project/project/target/streams/_global/_global/csrLogger/_global/streams/out
project/project/target/streams/_global/csrConfiguration/_global/streams/out
project/project/target/streams/_global/csrProject/_global/streams/out
project/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
project/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
project/project/target/streams/_global/ivyConfiguration/_global/streams/out
project/project/target/streams/_global/ivySbt/_global/streams/out
project/project/target/streams/_global/moduleSettings/_global/streams/out
project/project/target/streams/_global/projectDescriptors/_global/streams/out
project/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
project/project/target/streams/_global/update/_global/streams/out
project/project/target/streams/compile/_global/_global/compileOutputs/previous
project/project/target/streams/compile/_global/_global/discoveredMainClasses/data
project/project/target/streams/compile/bspReporter/_global/streams/out
project/project/target/streams/compile/compile/_global/streams/out
project/project/target/streams/compile/compileIncremental/_global/streams/export
project/project/target/streams/compile/compileIncremental/_global/streams/out
project/project/target/streams/compile/copyResources/_global/streams/out
project/project/target/streams/compile/dependencyClasspath/_global/streams/export
project/project/target/streams/compile/exportedProducts/_global/streams/export
project/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
project/project/target/streams/compile/incOptions/_global/streams/out
project/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
project/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
project/project/target/streams/compile/managedClasspath/_global/streams/export
project/project/target/streams/compile/scalacOptions/_global/streams/out
project/project/target/streams/compile/unmanagedClasspath/_global/streams/export
project/project/target/streams/compile/unmanagedClasspath/_global/streams/out
project/project/target/streams/compile/unmanagedJars/_global/streams/export
project/project/target/streams/runtime/dependencyClasspath/_global/streams/export
project/project/target/streams/runtime/exportedProducts/_global/streams/export
project/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
project/project/target/streams/runtime/fullClasspath/_global/streams/export
project/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
project/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
project/project/target/streams/runtime/managedClasspath/_global/streams/export
project/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
project/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
project/project/target/streams/runtime/unmanagedJars/_global/streams/export
project/target/config-classes/$12b83340192cdb61cb55.cache
project/target/config-classes/$1b53c3a83033f4a729b7.cache
project/target/config-classes/$6037b0a0cc7bdd78f656.cache
project/target/config-classes/$bb7524b16258893d4a4e.cache
project/target/config-classes/$f6114a3e2fde51fb0bfd.cache
project/target/config-classes/$f9c617e1d9a6f66e8a68.cache
project/target/scala-2.12/sbt-1.0/sync/copy-resource
project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
project/target/streams/_global/_global/_global/streams/out
project/target/streams/_global/_global/csrLogger/_global/streams/out
project/target/streams/_global/csrConfiguration/_global/streams/out
project/target/streams/_global/csrProject/_global/streams/out
project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
project/target/streams/_global/ivyConfiguration/_global/streams/out
project/target/streams/_global/ivySbt/_global/streams/out
project/target/streams/_global/moduleSettings/_global/streams/out
project/target/streams/_global/projectDescriptors/_global/streams/out
project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
project/target/streams/_global/update/_global/streams/out
project/target/streams/_global/updateClassifiers/_global/streams/out
project/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.12/inputs
project/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.12/output
project/target/streams/_global/updateSbtClassifiers/_global/streams/out
project/target/streams/compile/_global/_global/compileOutputs/previous
project/target/streams/compile/_global/_global/discoveredMainClasses/data
project/target/streams/compile/bloopGenerate/_global/streams/out
project/target/streams/compile/bloopPostGenerate/_global/streams/out
project/target/streams/compile/bspReporter/_global/streams/out
project/target/streams/compile/compile/_global/streams/out
project/target/streams/compile/compileIncremental/_global/streams/export
project/target/streams/compile/compileIncremental/_global/streams/out
project/target/streams/compile/copyResources/_global/streams/out
project/target/streams/compile/dependencyClasspath/_global/streams/export
project/target/streams/compile/exportedProducts/_global/streams/export
project/target/streams/compile/externalDependencyClasspath/_global/streams/export
project/target/streams/compile/incOptions/_global/streams/out
project/target/streams/compile/internalDependencyClasspath/_global/streams/export
project/target/streams/compile/internalDependencyClasspath/_global/streams/out
project/target/streams/compile/managedClasspath/_global/streams/export
project/target/streams/compile/scalacOptions/_global/streams/out
project/target/streams/compile/unmanagedClasspath/_global/streams/export
project/target/streams/compile/unmanagedClasspath/_global/streams/out
project/target/streams/compile/unmanagedJars/_global/streams/export
project/target/streams/it/bloopGenerate/_global/streams/out
project/target/streams/it/bloopPostGenerate/_global/streams/out
project/target/streams/runtime/dependencyClasspath/_global/streams/export
project/target/streams/runtime/exportedProducts/_global/streams/export
project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
project/target/streams/runtime/fullClasspath/_global/streams/export
project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
project/target/streams/runtime/managedClasspath/_global/streams/export
project/target/streams/runtime/unmanagedClasspath/_global/streams/export
project/target/streams/runtime/unmanagedClasspath/_global/streams/out
project/target/streams/runtime/unmanagedJars/_global/streams/export
project/target/streams/test/bloopGenerate/_global/streams/out
project/target/streams/test/bloopPostGenerate/_global/streams/out
target/scala-2.12/update/update_cache_2.12/inputs
target/scala-2.12/update/update_cache_2.12/output
target/streams/_global/_global/csrLogger/_global/streams/out
target/streams/_global/csrConfiguration/_global/streams/out
target/streams/_global/csrProject/_global/streams/out
target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
target/streams/_global/ivyConfiguration/_global/streams/out
target/streams/_global/ivySbt/_global/streams/out
target/streams/_global/moduleSettings/_global/streams/out
target/streams/_global/projectDescriptors/_global/streams/out
target/streams/_global/update/_global/streams/out
target/streams/_global/updateClassifiers/_global/streams/out
target/streams/_global/updateClassifiers/_global/streams/update_cache_2.12/inputs
target/streams/_global/updateClassifiers/_global/streams/update_cache_2.12/output
target/streams/compile/bloopGenerate/_global/streams/out
target/streams/compile/bloopPostGenerate/_global/streams/out
target/streams/compile/externalDependencyClasspath/_global/streams/export
target/streams/compile/managedClasspath/_global/streams/export
target/streams/compile/scalacOptions/_global/streams/out
target/streams/compile/unmanagedClasspath/_global/streams/export
target/streams/compile/unmanagedClasspath/_global/streams/out
target/streams/compile/unmanagedJars/_global/streams/export
target/streams/it/bloopGenerate/_global/streams/out
target/streams/it/bloopPostGenerate/_global/streams/out
target/streams/runtime/unmanagedJars/_global/streams/export
target/streams/test/bloopGenerate/_global/streams/out
target/streams/test/bloopPostGenerate/_global/streams/out
target/streams/test/externalDependencyClasspath/_global/streams/export
target/streams/test/managedClasspath/_global/streams/export
target/streams/test/scalacOptions/_global/streams/out
target/streams/test/unmanagedClasspath/_global/streams/export
target/streams/test/unmanagedClasspath/_global/streams/out
target/streams/test/unmanagedJars/_global/streams/export
project/build.properties
